/ Content Header (Page header)
.main-content  
  %section.content-header
    %h1
      Dashboard
      %small Control panel
    %ol.breadcrumb
      %li
        %a{:href => root_path}
          %i.fa.fa-home
          Home
      %li.active Dashboard
  %section.box.box-warning
    .box-body 
      %hr        
      .row
        / Users block
        .col-lg-6.col-xs-6
          / small box
          .small-box.bg-blue
            .inner
              %h3 Users
              %h3 (#{User.all.count})   
            .icon
              %i.fa.fa-users
            %a.small-box-footer{:href => admin_users_path }
              Manage Users
              %i.fa.fa-arrow-circle-right 
        / Users block
        .col-lg-6.col-xs-6
          / small box
          .small-box.bg-green
            .inner
              %h3 Authorizations 
              %h3 (#{Authorization.all.count})  
            .icon
              %i.fa.fa-power-off
            %a.small-box-footer{:href => admin_authorizations_path }
              Manage Authorizations
              %i.fa.fa-arrow-circle-right
    .box-footer      