.jumbotron
  %h1 Welcome to sample social login!
  %h3 Sample Application showing Social login Integration with Rails
  %p This is a demo for the Social login with Twitter, Facebook, Google+, and Devise.
